# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfplan

# Ignore any .terraform directories
**/.terraform/*

# Ignore provider-specific files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

*.lock.hcl

# Ignore React folder and all its contents
/react/
/react/*
